{% extends 'body.html.twig'  %}
{% block content %}

        <h2>Game Over!</h2>

        <p>
            Oops, you're hanged... The word to guess was <strong>xilophon</strong>.
        </p>

{% endblock %}